body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  outline: none;
}
.papka {
  /* margin: 0 auto; */
  max-width: 500px;
  left: 0;
  background-color: aquamarine;
}
.papkaa {
  /* margin: 0 auto; */
  max-width: 500px;
  left: 0;
  background-color: aquamarine;
}
.name-papka {
  font-size: 14px;
  margin: 0;
}
.papka-name {
  display: flex;
  gap: 10px;
}
.input-name-papka {
  font-size: 14px;
}
.edit {
  width: 50px;
}
.badge {
  display: flex;
}
